<nlog>
	<targets>
		<target name="console" type="Console" layout="${level}:${message}" />
		<target name="file" type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level}|${message}" />
	</targets>

	<rules>
		<logger name="ModUploader" minlevel="Error" writeTo="console" />
		<logger name="ModUploader" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>