<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap systemai uap18">

  <Identity
    Name="e277640c-5532-4c59-80b6-420984ae9c1d"
    Publisher="CN=Will"
    Version="2.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="e277640c-5532-4c59-80b6-420984ae9c1d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ModUploader</DisplayName>
    <PublisherDisplayName>Will</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ModUploader"
        Description="ModUploader"
        BackgroundColor="#7F7F7F"
        Square150x150Logo="Assets\icon_256x256.png"
        Square44x44Logo="Assets\icon_256x256.png">
        <uap:DefaultTile Wide310x150Logo="Assets\icon_256x256.png" />
        <uap:SplashScreen Image="Assets\icon.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>
